<!DOCTYPE html>
<html lang="en">
<!-- Form to key in additional user details and store in database. -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>Additional Details</title>

  <!-- File in /form/style.css -->
  <link rel="stylesheet" href="comp-form-style.css" type="text/css" />

  <!-- Firebase setup. -->
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-storage.js"></script>
  <!-- jQuery-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDqlaeDVox13ySVHHh0ukCyZepg7QyD0B4",
      authDomain: "sgcomps-b8fdc.firebaseapp.com",
      databaseURL: "https://sgcomps-b8fdc.firebaseio.com",
      projectId: "sgcomps-b8fdc",
      storageBucket: "sgcomps-b8fdc.appspot.com",
      messagingSenderId: "1048240965389"
    };
    firebase.initializeApp(config);
  </script>
</head>
<!-- onload document function to determine which form to load. See function for more details. -->

<body onload="chooseLayout()">
  <div class="form-header">
    <% if (Object.keys(errors).length === 0) { %>
      <% } else { %>
        <h2 class="errors-heading">Oops, please correct the following:</h2>
        <ul class="errors-list">
          <% Object.values(errors).forEach(error => { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>
  </div>

  <fieldset id="first">
    <!--****** Competition set-up form  ******-->
    <!--****** The action links to the comp_detail router method in routes.js  ******-->
    <form method="post" action="/comp_detail" novalidate>
      <h2 class="sub-title">List Competition Details</h2>
      <!-- these classes are in css. That"s how you tell css this is what you want to style-->
      <div class="userInfo">
        <!-- These ids are checked by the router method in routes.js -->
        <input name="orgName" type="text" id="orgName"/>
        <input name="email" type="text" id="email"/>
        <input name="uid" type="text" id="uid"/>
      </div>

      <!-- Competition name -->
      <div class='comp_form_field <%= errors.name ? "comp_form_field-invalid" : "" %>'>
        <label for="name">Competition Name:</label>
        <input name="compName" type="text" id="compName" value="<%= data.compName %>"/>
        <% if (errors.message) { %>
          <div class="error">
            <%= errors.message.msg %>
          </div>
          <% } %>
      </div>

      <!-- Competition Dates. -->
      <div class='comp_form_field <%= errors.name ? "comp_form_field-invalid" : "" %>'>
          Date:
      <input id="date" type="text" name="date"><br>
      </div>

      <!-- Competition Tags -->
      <div class='form-field <%= errors.message ? "form-field-invalid" : "" %>'>
        <label for="comp_type">Tags:</label>
        <!-- Checks whether the box was ticked when form is submitted with error. -->
        <br>
        <input class='<%= data.comp_type ? (data.comp_type.indexOf("datathon") > -1 ? "checked" : "") : "" %>' name="comp_type"
          type="checkbox" value="datathon" />
        <span>Datathon</span>
        <input class='<%= data.comp_type ? (data.comp_type.indexOf("hackathon") > -1 ? "checked" : "") : "" %>' name="comp_type"
          type="checkbox" value="hackathon" />
        <span>Hackathon</span>
        </br>
        <input class='<%= data.comp_type ? (data.comp_type.indexOf("coding-challenge") > -1 ? "checked" : "") : "" %>' name="comp_type"
          type="checkbox" value="coding-challenge" />
        <span>Coding Challenge</span>
        </br>
        <input class='<%= data.comp_type ? (data.comp_type.indexOf("business-related") > -1 ? "checked" : "") : "" %>' name="comp_type" type="checkbox"
          value="business-related" />
        <span>All Business Related</span>
        <input class='<%= data.comp_type ? (data.comp_type.indexOf("accounting") > -1 ? "checked" : "") : "" %>' name="comp_type"
          type="checkbox" value="accounting" />
        <span>Accounting</span>
        </br>
        <input class='<%= data.comp_type ? (data.comp_type.indexOf("marketing") > -1 ? "checked" : "") : "" %>' name="comp_type" type="checkbox"
          value="marketing" />
        <span>Marketing</span>
        <input class='<%= data.comp_type ? (data.comp_type.indexOf("finance") > -1 ? "checked" : "") : "" %>' name="comp_type" type="checkbox"
          value="finance" />
        <span>Finance</span>
        <input class='<%= data.comp_type ? (data.comp_type.indexOf("consulting") > -1 ? "checked" : "") : "" %>' name="comp_type" type="checkbox"
          value="consulting" />
        <span>Consulting</span>

        <% if (errors.comp_type) { %>
          <div class="error">
            <%= errors.comp_type.msg %>
          </div>
          <% } %>
      </div>

      <!-- Competition Description -->
      <div class='comp_form_field <%= errors.details ? "comp_form_field-invalid" : "" %>'>
        <label for="details">Competition Details:</label>
        <input name="details" type="text" id="details" value="<%= data.details %>"/>
        <% if (errors.message) { %>
          <div class="error">
            <%= errors.message.msg %>
          </div>
          <% } %>
      </div>

      <!-- Upload Picture -->
      <div class='comp_form_field <%= errors.photoPath ? "comp_form_field-invalid" : "" %>'>
        <input name="photoPath" type="text" id="photoPath" value="<%= data.photoPath %>"/>
        <% if (errors.message) { %>
          <div class="error">
            <%= errors.message.msg %>
          </div>
          <% } %>
      </div>
<<<<<<< HEAD
=======

>>>>>>> f86e1a4c89e125830d72c95f518bbaed31c8bd51
      <div class='comp_form_field <%= errors.photo ? "comp_form_field-invalid" : "" %>'>
        <label for="photo">Upload Poster</label>
        </br>
        Progress Bar:
        <progress value="0" max="100" id="uploader">0%</progress>
        <input type="file" value="upload" id="fileButton"/>
        <% if (errors.message) { %>
          <div class="error">
            <%= errors.message.msg %>
          </div>
        <% } %>
      </div>
      <script>
        var uploader = document.getElementById("uploader");
        var fileButton = document.getElementById("fileButton");

        fileButton.addEventListener("change", function(e){
          var file = e.target.files[0];
          console.log(file);
          var storageRef = firebase.storage().ref("images/" + file.name);

          document.getElementById("photoPath").value = "images/" + file.name;
          console.log(document.getElementById("photoPath").value);
          var task = storageRef.put(file);

          task.on("state_changed",
            function progress(snapshot){
              var percentage = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
              uploader.value = percentage;
            },
            function error(err){

            },
            function complete(){

            });
        });
      </script>

      <!-- Form buttons: Submit/Back -->
      <div class="form-actions">
        <button class="btn" type="submit">Send</button>
        <button class="btn" type="reset" onclick='location.href="/competition-form";'>Reset</button>
        <input type="button" onclick='location.href="/home";' value="Cancel" />
      </div>
    </form>
  </fieldset>

  <script>
    // Simple functions to toggle form view.

    // Function called to determine if page is rendered from login screen or
    // due to errors in form. Calls appropiate page view.
    function chooseLayout() {
      let url = window.location.href
      let urlType = url.split("/")
      // Get "contact", "stud_detail" or "org_detail" at end of string to
      // Differentiate different calls of page render [See routes.js]
      if (urlType[urlType.length - 1] == "stud_detail") {
        stud_profile()
      } else if (urlType[urlType.length - 1] == "org_detail") {
        org_profile()
      }
      // Re-check required boxes when page loads.
      let box_check = document.getElementsByClassName("checked")
      console.log(box_check)
      for (let i = 0; i < box_check.length; i++) {
        box_check[i].checked = true
      }
}

  </script>
  <script>
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
       //User is signed in.
       document.getElementById("display-name").value = user.displayName
       document.getElementById("email").value = user.email
       document.getElementById("uid").value = user.uid
       if (user.emailVerified) {
         document.getElementById("emailVerified").checked = true
         document.getElementById("orgemailVerified").checked = true
       }
       document.getElementById("org-email").value = user.email
       document.getElementById("org-uid").value = user.uid
       let data = firebase.firestore().collection('userDetails').doc(user.uid).get().data()
       document.getElementById('orgName').value = data.org_name
    }
   })
   </script>
   <script>
   $(function() {
     $('input[name="date"]').daterangepicker({
       timePicker: true,
       startDate: moment().startOf("hour"),
       endDate: moment().startOf("hour"),
       locale: {
         format: "YYYY/MM/DD hh:mm A"
       }
     });
   });
  </script>
</body>
</html>
