<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Profile</title>
  <!-- File in /form/style.css -->
  <link rel="stylesheet" href="/edit_profile_style.css" type="text/css" />
  <link rel='icon' type='image/png' href='/temp-logo.png' />
  <!-- Firebase setup. -->
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDqlaeDVox13ySVHHh0ukCyZepg7QyD0B4",
      authDomain: "sgcomps-b8fdc.firebaseapp.com",
      databaseURL: "https://sgcomps-b8fdc.firebaseio.com",
      projectId: "sgcomps-b8fdc",
      storageBucket: "sgcomps-b8fdc.appspot.com",
      messagingSenderId: "1048240965389"
    };
    firebase.initializeApp(config);
  </script>
</head>

<body onload='chooseLayout()'>
  <div class="page <%= data.org_name ? 'org_profile' : '' %>">
    <header>
      <div class="form-header">
        <% if (Object.keys(errors).length === 0) { %>
          <% } else { %>
            <h2 class="errors-heading">Oops, please correct the following:</h2>
            <ul class="errors-list">
              <% Object.values(errors).forEach(error => { %>
                <li>
                  <%= error.msg %>
                </li>
                <% }) %>
            </ul>
            <% } %>
      </div>
    </header>
    <article>
      <fieldset id='first'>
        <!--****** Student set-up form  ******-->
        <h2 class='sub-title'>Update Profile</h2>
        <form method="post" action="/editProfile" novalidate>
          <div class="form-field <%= errors.org_name ? 'form-field-invalid' : '' %>">
            <label for='displayName'>Name:</label>
            <input name='displayName' type='text' id='displayName' value='<%= data.displayName %>' />
            <% if (errors.displayName) { %>
              <div class="error">
                <%= errors.displayName.msg %>
              </div>
              <% } %>
          </div>

          <div class='form-field'>
            <label>Email:</label>
            <p>
              <%= data.email %>
            </p>
          </div>
          <!-- Student Gender. -->
          <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
            <label for="gender" id="gender_label">Gender</label>
            <input class="<%= data.gender ? (data.gender == 'male' ? 'radio-checked' : '') : '' %>" name="gender" type="radio" value="male">Male
            <input class="<%= data.gender ? (data.gender == 'female' ? 'radio-checked' : '') : '' %>" name="gender" type="radio" value="female">Female

            <% if (errors.gender) { %>
              <div class="error">
                <%= errors.gender.msg %>
              </div>
              <% } %>
          </div>
          <!-- Student's current school. -->
          <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
            <label for='school'>Current University</label>
            <select name='school'>
              <option class="<%= data.school ? (data.school == 'nus' ? 'select-check' : '') : '' %>" value="nus">National University of Singapore(NUS)</option>
              <option class="<%= data.school ? (data.school == 'ntu' ? 'select-check' : '') : '' %>" value="ntu">Nanyang Technological University(NTU)</option>
              <option class="<%= data.school ? (data.school == 'smu' ? 'select-check' : '') : '' %>" value="smu">Singapore Management University(SMU)</option>
              <option class="<%= data.school ? (data.school == 'sutd' ? 'select-check' : '') : '' %>" value="sutd">Singapore University of Technology and Design(SUTD)</option>
            </select>

            <% if (errors.school) { %>
              <div class="error">
                <%= errors.school.msg %>
              </div>
              <% } %>
          </div>
          <!-- Student's current course. -->
          <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
            <label for='course'>Course</label>
            <select name='course'>
              <option class="<%= data.course ? (data.course == 'computing' ? 'select-check' : '') : '' %>" value='computing'>Computing</option>
              <option class="<%= data.course ? (data.course == 'arts' ? 'select-check' : '') : '' %>" value='arts'>Arts</option>
              <option class="<%= data.course ? (data.course == 'science' ? 'select-check' : '') : '' %>" value='science'>Science</option>
              <option class="<%= data.course ? (data.course == 'business' ? 'select-check' : '') : '' %>" value='business'>Business</option>
            </select>

            <% if (errors.course) { %>
              <div class="error">
                <%= errors.course.msg %>
              </div>
              <% } %>
          </div>
          <!-- Competition types selection checkbox. -->
          <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
        <label for='comp_type'>Interests:</label>
        <!-- Checks whether the box was ticked when form is submitted with error. -->
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('datathon') > -1 ? 'checked' : '') : '' %>" name='comp_type'
          type='checkbox' value='datathon' />
        <span>Datathon</span>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('hackathon') > -1 ? 'checked' : '') : '' %>" name='comp_type'
          type='checkbox' value='hackathon' />
        <span>Hackathon</span>
        </br>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('coding-challenge') > -1 ? 'checked' : '') : '' %>" name='comp_type'
          type='checkbox' value='coding-challenge' />
        <span>Coding Challenge</span>
        </br>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('business-related') > -1 ? 'checked' : '') : '' %>" name='comp_type' type='checkbox'
          value='business-related' />
        <span>All Business Related</span>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('accounting') > -1 ? 'checked' : '') : '' %>" name='comp_type'
          type='checkbox' value='accounting' />
        <span>Accounting</span>
        </br>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('marketing') > -1 ? 'checked' : '') : '' %>" name='comp_type' type='checkbox'
          value='marketing' />
        <span>Marketing</span>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('finance') > -1 ? 'checked' : '') : '' %>" name='comp_type' type='checkbox'
          value='finance' />
        <span>Finance</span>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('consulting') > -1 ? 'checked' : '') : '' %>" name='comp_type' type='checkbox'
          value='consulting' />
        <span>Consulting</span>

            <% if (errors.comp_type) { %>
              <div class="error">
                <%= errors.comp_type.msg %>
              </div>
              <% } %>
          </div>
          <!-- Short introduction of student -->
          <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
            <label for="message">Short Introduction:</label>
            <textarea class="input" id="message" name="message" autofocus>
              <%= data.message %>
            </textarea>
            <% if (errors.message) { %>
              <div class="error">
                <%= errors.message.msg %>
              </div>
              <% } %>
          </div>
          <!-- Form buttons: Submit/Back -->
          <div class="form-actions">
            <button class="btn" type="submit">Save</button>
            <a href='/profile'>Cancel</a>
          </div>
        </form>
      </fieldset>
      <fieldset id='second'>
        <h2 class='sub-title'>Organisation Set-Up</h2>
        <!--****** Organisation set-up form  ******-->
        <form method="post" action="/editOrgProfile" novalidate>

          <!-- Organisation name -->
          <div class="form-field <%= errors.org_name ? 'form-field-invalid' : '' %>">
            <label for="org_name">Name of Organisation:</label>
            <input class="input" id="org_name" name="org_name" type="text" value="<%= data.org_name %>" />
            <% if (errors.org_name) { %>
              <div class="error">
                <%= errors.org_name.msg %>
              </div>
              <% } %>
          </div>
          <div class='form-field'>
            <label>Email:</label>
            <p>
              <%= data.email %>
            </p>
          </div>
          <!-- Competition types selection checkbox. -->
          <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
        <label for='comp_type'>Competition Types:</label>
        <!-- Checks whether the box was ticked when form is submitted with error. -->
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('datathon') > -1 ? 'checked' : '') : '' %>" name='comp_type'
          type='checkbox' value='datathon' />
        <span>Datathon</span>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('hackathon') > -1 ? 'checked' : '') : '' %>" name='comp_type'
          type='checkbox' value='hackathon' />
        <span>Hackathon</span>
        </br>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('coding-challenge') > -1 ? 'checked' : '') : '' %>" name='comp_type'
          type='checkbox' value='coding-challenge' />
        <span>Coding Challenge</span>
        </br>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('business-related') > -1 ? 'checked' : '') : '' %>" name='comp_type' type='checkbox'
          value='business-related' />
        <span>All Business Related</span>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('accounting') > -1 ? 'checked' : '') : '' %>" name='comp_type'
          type='checkbox' value='accounting' />
        <span>Accounting</span>
        </br>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('marketing') > -1 ? 'checked' : '') : '' %>" name='comp_type' type='checkbox'
          value='marketing' />
        <span>Marketing</span>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('finance') > -1 ? 'checked' : '') : '' %>" name='comp_type' type='checkbox'
          value='finance' />
        <span>Finance</span>
        <input class="<%= data.comp_type ? (data.comp_type.indexOf('consulting') > -1 ? 'checked' : '') : '' %>" name='comp_type' type='checkbox'
          value='consulting' />
        <span>Consulting</span>

            <% if (errors.comp_type) { %>
              <div class="error">
                <%= errors.comp_type.msg %>
              </div>
              <% } %>
          </div>
          <!-- Short description of organisation. -->
          <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
            <label for="message">Short Description:</label>
            <textarea class="input" id="message" name="message" rows="4" autofocus>
              <%= data.message %>
            </textarea>
            <% if (errors.message) { %>
              <div class="error">
                <%= errors.message.msg %>
              </div>
              <% } %>
          </div>
          <!-- Form buttons: Submit/Back -->
          <div class="form-actions">
            <button class="btn" type="submit">Send</button>
            <a href='/profile'>Cancel</a>
          </div>
        </form>
      </fieldset>
    </article>
  </div>
  <script>
    // Simple functions to toggle form view.

    // Function called to determine if page is rendered from login screen or
    // due to errors in form. Calls appropiate page view.
    function chooseLayout() {
      let doc_select = document.getElementsByClassName('org_profile')
      if (doc_select.length != 0) {
        document.getElementById('first').style.display = "none"
        document.getElementById('second').style.display = "block"
      }
      // Re-check required boxes when page loads.
      let box_check = document.getElementsByClassName('checked')
      console.log(box_check)
      for (let i = 0; i < box_check.length; i++) {
        box_check[i].checked = true
      }
      // Re-Select correct value for radio buttons when page loads.
      let radio_check = document.getElementsByClassName('radio-checked')
      console.log(radio_check)
      radio_check[0].checked = true
      // Re-Select correct value for select options when page loads.
      let select_check = document.getElementsByClassName('select-check')
      console.log(select_check)
      for (let i = 0; i < select_check.length; i++) {
        select_check[i].selected = true;
      }
    }
  </script>
</body>